<%= form_with(model: [@professional, appointment]) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-group row justify-content-center">
      <%= form.label :name %>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-md-8">
        <%= form.text_field :name, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group row justify-content-center">
      <%= form.label :surname %>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-md-8">
        <%= form.text_field :surname, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group row justify-content-center">
      <%= form.label :phone %>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-md-8">
        <%= form.text_field :phone, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group row justify-content-center">
      <%= form.label :notes %>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-md-8">
        <%= form.text_field :notes, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group row justify-content-center">
      <%= form.label :date %>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-md-8">
        <%= form.datetime_select :date, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
