<p id="notice"><%= notice %></p>

<h1>Professional details</h1>

<p>
  <strong>Name:</strong>
  <%= @professional.name %>
</p>

<%= link_to 'Appointments', professional_appointments_path(@professional) %> |
<%= export_appointments_in_day('2021-11-19', @professional)%>
<%= link_to 'Back', professionals_path %>
