<%= form_for :form_data, url: export_appointments_path do |form| %>

  <% if presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this grid from being export:</h2>

      <ul>
        <% presentation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :professional %>
    <%= form.collection_select :professional, Professional.order(:name), :id, :name, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, ["Dia", "Semanal"] %>
  </div>

  <div class="actions">
    <%= submit_tag "Export", data: {disable_with: false} %>
  </div>

<% end %>